<header class="main-header">
  <!-- Logo -->
  <a href="/dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <!-- <b>A</b>LT -->
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b id="webnameText">{{webinfoData['Name']}}</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="text-decoration: none;">
      <i class="fas fa-align-justify"></i>
      <span class="sr-only">Toggle navigation</span>
    </a>

    <!-- notification -->

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-bell"></i>
            <span class="label label-warning">{{ NotificationCount }}</span>
          </a>
          <ul class="dropdown-menu" *ngIf="NotificationCount !== 0">
            <li class="header">You have {{ NotificationCount }} notifications</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu" >
                <li *ngFor = "let Notification of NotificationData">
                  <a (click)="ClearNotification(Notification.NotificationID,Notification.URL);">
                    <i class="fa {{ Notification.Image }} text-aqua"></i> {{Notification.Text}}
                  </a>
                </li>
              </ul>
            <li class="footer">

              <a  *ngIf="!userType" (click)="ClearAllNotification()">Clear all</a>
              <a  *ngIf="userType" (click)="ClearAllNotificationSeller()">Clear all</a>
            </li>
          </ul>
          <ul class="dropdown-menu" *ngIf="NotificationCount === 0">
              <li class="header">You have No Notifications.</li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img id="userImage" class="user-image" alt="User Image">
            <span class="hidden-xs" id="headerName">{{ adminData.Adminname }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img id="userHeaderImage" class="img-circle" alt="User Image">

              <p id="headerName1">
                {{ adminData.Adminname }}
                <!-- <small>Member since Nov. 2012</small> -->
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-7">
                  <a href="#" data-toggle="modal" data-target="#exampleModal">Change Password</a>
                </div>
                <div class="col-xs-5">
                  <a (click)="Sleep();" >Sleep</a>
                </div>
                <!-- <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div> -->
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a routerLink="/adminProfile" class="btn btn-default btn-flat" *ngIf="!userType">Profile</a>
                <a routerLink="/shopProfile" class="btn btn-default btn-flat" *ngIf="userType">Profile</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-default btn-flat" (click)="logout();">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Modal -->
<!-- change password modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id='btnCPClose1' class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
      </div>
      <div class="modal-body">
        <form #frm="ngForm">
          <div class="form-group">
            <label for="txtOldPassword" class="control-label">Old Password</label>
            <input type="password" ngModel #txtOldPassword="ngModel" name="txtOldPassword" class="form-control" id="txtOldPassword" placeholder="Password"
              pattern="[a-zA-Z0-9]*" required>
          </div>
          <div class="form-group">
            <label for="txtNewPassword" class="control-label">New Password</label>
            <input type="password" ngModel #txtNewPassword="ngModel" name="txtNewPassword" class="form-control" id="txtNewPassword" placeholder="Password"
              pattern="[a-zA-Z0-9]*" required>
          </div>
          <div class="form-group">
            <label for="txtCPassword" class="control-label">Confirm Password</label>
            <input type="password" ngModel #txtCPassword="ngModel" name="txtCPassword" class="form-control" id="txtCPassword" placeholder="Password"
              pattern="[a-zA-Z0-9]*" required>
          </div>
        </form>
        <div id='alertDiv'>
          <div ng-if="!errorMessage == null">
            <span class="text-danger">{{errorMessage}}</span>
          </div>
        </div>
        <div id='alertDivS'>
          <div ng-if="!successMessage == null">
            <span class="text-success">{{successMessage}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id='btnCPClose' type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="changePassword(txtOldPassword.value, txtCPassword.value);">Save changes</button>
      </div>
    </div>
  </div>
</div>
