<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Shop Information
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Shop Information</li>
    </ol>
  </section>

  <section class="content">
    <div class="box box-primary">
      <div class="box-body">
        <div class="header">
          <a (click)="Form1();">
            <div class="col-md-3" style="background-color: #4693be; margin-right: 10px;">
              <h3>
                <font color="white">1.Shop Information</font>
              </h3>
            </div>
          </a>
          <a (click)="Form2();">
            <div class="col-md-3" style="background-color: #4693be;  margin-right: 10px;">
              <h3>
                <font color="white">2.Business Information</font>
              </h3>
            </div>
          </a>
          <a (click)="Form3();">
            <div class="col-md-3" style="background-color: #4693be;">
              <h3>
                <font color="white">3.Social Detail</font>
              </h3>
            </div>
          </a>
        </div>


        <div style="margin-top: 60px;">

          <div class="col-sm-12 well">

            <div class="box-body">
              <div class="row">
                <div class="form1" id="form1">
                  <form role="form" #frm1="ngForm" name="frm1" id="frm1">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtShopName">Shop Name
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtShopName" placeholder="Shop Name" name="txtShopName" [(ngModel)]="shopInfo.ShopName"
                          required #txtShopName="ngModel" pattern="[a-zA-Z0-9]+">
                      </div>
                      <div class="form-group">
                        <label for="txtShopType">Shop Type
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtShopType" placeholder="Shop Type" name="txtShopType" [(ngModel)]="shopInfo.ShopType"
                          required #txtShopType="ngModel" pattern="[a-zA-Z]+">
                      </div>
                      <div class="form-group">
                        <label for="txtContact">Contact Number
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtContact" placeholder="Contact Number" name="txtContact" [(ngModel)]="shopInfo.PhoneNo"
                          required #txtContact="ngModel" pattern="[0-9]{10}">
                      </div>
                      <div class="form-group">
                        <label for="txtEmail">Email
                          <span class="text-danger">*</span>
                        </label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="txtEmail" [(ngModel)]="shopInfo.Email" required
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #txtEmail="ngModel">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtAddress">Address
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtAddress" placeholder="Address" name="txtAddress" [(ngModel)]="shopInfo.Address"
                          required #txtAddress="ngModel" pattern="[a-zA-Z0-9/-/.]+">
                      </div>
                      <div class="form-group">
                        <label for="txtCity">City
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtCity" placeholder="City" name="txtCity" [(ngModel)]="shopInfo.City" required
                          #txtCity="ngModel" pattern="[a-zA-Z]+">
                      </div>
                      <div class="form-group">
                        <label for="txtState">State
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtState" placeholder="State" name="txtState" [(ngModel)]="shopInfo.State" required
                          #txtState="ngModel" pattern="[a-zA-Z]+">
                      </div>
                      <div class="form-group">
                        <label for="txtPincode">Pincode
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtPincode" placeholder="Pincode" name="txtPincode" [(ngModel)]="shopInfo.Pincode"
                          required pattern="[0-9]{6}" #txtPincode="ngModel">
                      </div>
                    </div>
                    <div class="col-md-offset-9">
                      <button class="btn btn-primary" [disabled]="frm1.invalid" (click)="form1Submit(txtShopName.value,txtShopType.value,txtContact.value,txtEmail.value,txtAddress.value,txtCity.value,txtState.value,txtPincode.value);">Submit</button>
                    </div>
                    <div *ngIf="txtEmail.touched || txtShopName.touched || txtShopType.touched || txtAddress.touched || txtCity.touched || txtState.touched || txtContact.touched || txtPincode.touched">
                      <div *ngIf="txtShopName.errors?.required && txtShopName.touched">
                        <span class="text-danger">Shop Name is required</span>
                      </div>
                      <div *ngIf="txtShopName.errors?.pattern && txtShopName.touched">
                        <span class="text-danger">Shop Name is Invalid</span>
                      </div>
                      <div *ngIf="txtShopType.errors?.required && txtShopType.touched">
                        <span class="text-danger">Shop Type is required</span>
                      </div>
                      <div *ngIf="txtShopType.errors?.pattern && txtShopType.touched">
                        <span class="text-danger">Shop Type is Invalid</span>
                      </div>
                      <div *ngIf="txtAddress.errors?.required && txtAddress.touched">
                        <span class="text-danger">Address is required</span>
                      </div>
                      <div *ngIf="txtAddress.errors?.pattern && txtAddress.touched">
                        <span class="text-danger">Address is Invalid</span>
                      </div>
                      <div *ngIf="txtEmail.errors?.required && txtEmail.touched">
                        <span class="text-danger">Email is required</span>
                      </div>
                      <div *ngIf="txtEmail.errors?.pattern && txtEmail.touched">
                        <span class="text-danger">Email is Invalid</span>
                      </div>
                      <div *ngIf="txtCity.errors?.required && txtCity.touched">
                        <span class="text-danger">City is required</span>
                      </div>
                      <div *ngIf="txtCity.errors?.pattern && txtCity.touched">
                        <span class="text-danger">City is Invalid</span>
                      </div>
                      <div *ngIf="txtState.errors?.required && txtState.touched">
                        <span class="text-danger">State is required</span>
                      </div>
                      <div *ngIf="txtState.errors?.pattern && txtState.touched">
                        <span class="text-danger">State is Invalid</span>
                      </div>
                      <div *ngIf="txtPincode.errors?.required && txtPincode.touched">
                        <span class="text-danger">Pincode is required</span>
                      </div>
                      <div *ngIf="txtPincode.errors?.pattern && txtPincode.touched">
                        <span class="text-danger">Pincode is Invalid</span>
                      </div>
                      <div *ngIf="txtContact.errors?.required && txtContact.touched">
                        <span class="text-danger">Contact is required</span>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="form2" id="form2">
                  <form role="form" #frm2="ngForm" name="frm2" id="frm2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="txtgstno">GST No
                            <span class="text-danger">*</span>
                          </label>
                          <input type="text" class="form-control" id="txtgstno" placeholder="GST No" name="txtgstno" [(ngModel)]="shopInfo.GSTNo" required
                            #txtgstno="ngModel" pattern="[a-zA-Z0-9]{15}">
                        </div>
                        <div class="form-group">
                          <label for="txtlogo">Logo
                            <span class="text-danger">*</span>
                          </label>
                          <input type="file" id="txtlogo" (change)="imagePreview($event)" name="txtlogo" ngModel #txtlogo="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="txttagline">Tag Line
                            <span class="text-danger">*</span>
                          </label>
                          <input type="text" class="form-control" id="txttagline" name="txttagline" placeholder="Tag Line" [(ngModel)]="shopInfo.Tagline"
                            required #txttagline="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="txtlogoalt">Logo Alternate</label>
                          <span class="text-danger">*</span>
                          <input type="text" class="form-control" id="txtlogoalt" placeholder="Logo Alternate" name="txtlogoalt" [(ngModel)]="shopInfo.LogoAlt"
                            required #txtlogoalt="ngModel">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div style="display: flex; justify-content: center;">
                          <img id="profileImageIn" src="{{urls}}" #image style="height:130px; width:130px;margin: 10px;" class="image"> &nbsp;
                        </div>
                      </div>
                    </div>
                    <div class="col-md-offset-5">
                      <!-- <button class="btn btn-primary" (click)="myPrev2()">Previous</button>&nbsp; -->
                      <button class="btn btn-primary" [disabled]="frm2.invalid" (click)="form2Submit(txtgstno.value,txtlogoalt.value,txttagline.value);">Submit</button>
                    </div>

                    <div *ngIf=" txtgstno.touched || txtlogoalt.touched || txtlogo.touched || txttagline.touched">
                      <div *ngIf="txtgstno.errors?.required && txtgstno.touched">
                        <span class="text-danger">GST No is required</span>
                      </div>
                      <div *ngIf="txtgstno.errors?.pattern && txtgstno.touched">
                        <span class="text-danger">GST No is Invalid</span>
                      </div>
                      <div *ngIf="txttagline.errors?.required && txttagline.touched">
                        <span class="text-danger">tag line is required</span>
                      </div>
                      <div *ngIf="txtlogoalt.errors?.required && txtlogoalt.touched">
                        <span class="text-danger">Logo Alternate is required</span>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="form3" id="form3">
                  <div>
                    <form role="form" #frm3="ngForm" name="frm3" id="frm3" style="display: flex; flex-direction: column;">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="txtFL">Facebook Link</label>
                          <input type="text" class="form-control" id="txtFL" placeholder="Facebook Link" name="txtFL" [(ngModel)]="shopInfo.FacebookLink"
                            #txtFL="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="txtTL">Twitter Link</label>
                          <input type="text" class="form-control" id="txtTL" placeholder="Twitter Link" name="txtTL" [(ngModel)]="shopInfo.TwitterLink"
                            #txtTL="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="txtIL">Instagram Link</label>
                          <input type="text" class="form-control" id="txtIL" placeholder="Instagram Link" name="txtIL" [(ngModel)]="shopInfo.InstagramLink"
                            #txtIL="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="txtYL">Youtube Link</label>
                          <input type="text" class="form-control" id="txtYL" placeholder="Youtube Link" name="txtYL" [(ngModel)]="shopInfo.YoutubeLink"
                            #txtYL="ngModel">
                        </div>
                      </div>

                      <div class="col-md-offset-5">
                        <button class="btn btn-primary" [disabled]="frm3.invalid" (click)="form3Submit(txtFL.value,txtTL.value,txtIL.value,txtYL.value);">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
