<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Order Detail
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Order Detail</li>
    </ol>
  </section>

  <section class="content">
    <div class="box box-primary">
      <div class="box-body">
        <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border hover">
          <thead>
            <tr>
              <th>Order No</th>
              <th>Product Name</th>
              <th>Price</th>
              <!-- <th>Quantity</th> -->
              <th>Status</th>
              <th style="text-align: center">Shipped</th>
              <th style="text-align: center"> Out For Delievery</th>
              <th style="text-align: center">Delivered</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of order">
              <td>{{ o.OrderDetailID }}</td>
              <td>{{ o.ProductName }}</td>
              <td>{{ o.Price }}</td>
              <!-- <td>{{ o.Qty }}</td> -->
              <td><b>{{ o.Status }}</b></td>
              

              <td style="text-align: center" *ngIf="o.Status === 'Cancelled'">
                <button class="fas fa-times btn btn-danger" disabled></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status === 'Cancelled'">
                <button class="fas fa-times btn btn-danger" disabled></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status === 'Cancelled'">
                <button class="fas fa-times btn btn-danger" disabled></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status === 'Pending'">
                <button class="fas fa-times btn btn-danger" disabled></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status=== 'Confirmed'">
                <button class="fas fa-times btn btn-danger"
                  (click)="sendShipped(o.OrderDetailID)"></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status=== 'Shipped' || o.Status=== 'Transist' || o.Status=== 'OFD' || o.Status=== 'Delievered'">
                <button class="fas fa-check-circle btn btn-success"></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status=== 'Pending' || o.Status=== 'Confirmed'">
                <button class="fas fa-times btn btn-danger" disabled></button>
              </td>
             

              <td style="text-align: center" *ngIf="o.Status=== 'Shipped' || o.Status=== 'Transist'">
                <button class="fas fa-times btn btn-danger"
                  (click)="sendOFD(o.OrderDetailID)"></button>
              </td>

              
              <td style="text-align: center" *ngIf="o.Status=== 'OFD' || o.Status=== 'Delievered'">
                <button class="fas fa-check-circle btn btn-success"></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status=== 'Pending' || o.Status=== 'Confirmed' || o.Status=== 'Shipped' || o.Status=== 'Transist'">
                <button class="fas fa-times btn btn-danger" disabled></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status === 'OFD'">
                <button class="fas fa-times btn btn-danger"
                  (click)="sendDelievered(o.OrderDetailID)"></button>
              </td>

              <td style="text-align: center" *ngIf="o.Status=== 'Delievered'">
                <button class="fas fa-check-circle btn btn-success"></button>
              </td>
              
              <td>
                <button class="fab fa-product-hunt btn btn-warning"
                  data-toggle="modal" data-target="#productDetailsModal"
                  (click)="getSingleProduct(o.ProductID)"></button> &nbsp;
                <button class="fas fa-users btn btn-primary" data-toggle="modal"
                  data-target="#userModal"
                  (click)="getCustomer(o.OrderID,o.CustomerID)"></button> &nbsp;
                <button class="fas fa-truck-moving btn btn-info"
                  data-toggle="modal" data-target="#trackingModal" (click)="testId(o.OrderDetailID)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="modal fade" id="trackingModal" tabindex="-1" role="dialog"
    aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Tracking Detail</h5>
        </div>
        <div class="modal-body">
          <form #frm="ngForm">
            <div class="form-group">
              <label for="txtText" class="control-label">Tracking Text</label>
              <input type="text" ngModel #txtText="ngModel" name="txtText"
                class="form-control" id="txtText" placeholder="Tracking Text"
                required>
            </div>
            <div class="input-group col-md-6">
                <label for="txtDateTime" class="control-label">Arrival Date and Time</label>
            </div>
            <table class="table" style="border: 0;">
              <tr>
                <td><div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right"
                      id="datepicker1" ngModel #datepicker1="ngModel" name="datepicker1">
                  </div> </td>
                <td>
                  <div class="bootstrap-timepicker col-md-12">
                    <div class="input-group col-md-12">
                      <input type="text" class="form-control timepicker timepicker1"
                        id="timepicker1" ngModel #timepicker1="ngModel" name="timepicker1">
                      <div class="input-group-addon">
                        <i class="fas fa-clock"></i>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <div class="input-group col-md-6">
                <label>Departure Date and Time</label>
            </div>
            <table class="table" style="border: 0;">
              <tr>
                <td><div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right"
                      id="datepicker2" ngModel #datepicker2="ngModel" name="datepicker2">
                  </div> </td>
                <td>
                  <div class="bootstrap-timepicker col-md-12">
                    <div class="input-group col-md-12">
                      <input type="text" class="form-control timepicker timepicker2"
                        id="timepicker2" ngModel #timepicker2="ngModel" name="timepicker2">
                      <div class="input-group-addon">
                        <i class="fas fa-clock"></i>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="sendTracking(txtText.value)">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog"
    aria-labelledby="productDetailsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <h1 class="modalTitle" style="margin: 2px; padding: 5px;">{{productSingleData.ProductName}}
              <small>({{productSingleData.CategoryName}})</small>
            </h1>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div>
                  <label class="labelTitle">Description: </label>
                </div>
                <div>
                  <span class="labelValue">{{productSingleData.ProductDesc}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="labelTitle">Price:</label>
                <span class="labelValue">{{productSingleData.Price}}</span>
              </div>
              <div class="form-group">
                <label class="labelTitle">Unit:</label>
                <span class="labelValue">{{productSingleData.Unit}}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="labelTitle">Minimum Stock:</label>
                <span class="labelValue">{{productSingleData.MinStock}}</span>
              </div>
              <div class="form-group">
                <label class="labelTitle">Current Stock:</label>
                <span class="labelValue">{{productSingleData.CurrentStock}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="userModal" tabindex="-1" role="dialog"
    aria-labelledby="userModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Customer Detail</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6" style="background-color: #4693be;
              margin-right: 10px;">
              <h3>
                <font color="white">Customer Information</font>
              </h3>
            </div>
            <div name="info1" id="info1" class="info1">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th style="border-top: 0;">Name:</th>
                    <td style="border-top: 0;">{{ customer.Name }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Email:</th>
                    <td style="border-top: 0;">{{ customer.Email }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th style="border-top: 0;">Phone no.:</th>
                    <td style="border-top: 0;">{{ customer.PhoneNo }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Gender:</th>
                    <td style="border-top: 0;">{{ customer.Gender }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-6" style="background-color: #4693be;
              margin-right: 10px;">
              <h3>
                <font color="white">Shipping Information</font>
              </h3>
            </div>
            <div name="info2" id="info2" class="info2">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th style="border-top: 0;">Name:</th>
                    <td style="border-top: 0;">{{ customer.AddressName }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Phone no.:</th>
                    <td style="border-top: 0;">{{ customer.AddressPhoneNo }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Locality:</th>
                    <td style="border-top: 0;">{{ customer.Locality }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Address Type:</th>
                    <td style="border-top: 0;">{{ customer.AddressType }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Country:</th>
                    <td style="border-top: 0;">{{ customer.Country }}</td>
                  </tr>
                </table>
              </div>

              <div class="col-md-6">
                <table class="table" style="border-top: 0;">
                  <tr>
                    <th style="border-top: 0;">Address:</th>
                    <td style="border-top: 0;">{{ customer.Address }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Pincode:</th>
                    <td style="border-top: 0;">{{ customer.Pincode }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">City:</th>
                    <td style="border-top: 0;">{{ customer.City }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">State:</th>
                    <td style="border-top: 0;">{{ customer.State }}</td>
                  </tr>
                  <tr>
                    <th style="border-top: 0;">Landmark:</th>
                    <td style="border-top: 0;">{{ customer.LandMark }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /.input group -->
