body {
    background-color: #F3F5F8;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #676a6d; }
  
    .auth-box{
    width: 40%;
    height: 400px;
  }
  
  .left{
    width: 100%;
  }
  