<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box ">

        <div class="left">
          <div class="content">
            <div class="header">
              <div class="logo text-center">
                <img src='../../assets/img/logo-dark.png' alt="Klorofil Logo">
              </div>
              <p class="lead">Reset Password</p>
            </div>
            <form class="form-auth-small" #frm="ngForm" id="frmReset">
              <div id="divVerify">
                <div class="form-group">
                  <label for="txtVerificationCode" class="control-label sr-only">Verification Code</label>
                  <input type="text" ngModel #txtVerificationCode="ngModel" class="form-control" id="txtVerificationCode" name="txtVerificationCode"
                    placeholder="Verification Code">
                </div>
                <div class="form-group">
                  <label for="txtNewPassword" class="control-label sr-only">New Password</label>
                  <input type="text" ngModel #txtNewPassword="ngModel" class="form-control" id="txtNewPassword" name="txtNewPassword"
                    placeholder="New Password">
                </div>
                <div class="form-group">
                  <label for="txtCPassword" class="control-label sr-only">Confirm Password</label>
                  <input type="text" ngModel #txtCPassword="ngModel" class="form-control" id="txtCPassword" name="txtCPassword"
                    placeholder="Confirm Password">
                </div>
              </div>
              <!-- <div class="form-group text-left">
                <input type="radio" value="Admin" name="optType" required #optType="ngModel" ngModel> Administrator &nbsp;&nbsp;&nbsp;
                <input type="radio" value="Seller" name="optType" required #optType="ngModel" ngModel> Sellers
              </div> -->
              <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="frm.invalid || (!txtCPassword.value == txtNewPassword.value)" (click)="ResetPassword(txtVerificationCode.value, txtNewPassword.value);">Reset</button>
              <br>
              <div id='alertDiv'>
                <div *ngIf="txtVerificationCode.errors?.required && txtVerificationCode.touched">
                  <span class="text-danger">Verification Code is Required</span>
                </div>
                <div *ngIf="txtNewPassword.errors?.required && txtNewPassword.touched">
                  <span class="text-danger">New Password is required</span>
                </div>
                <div *ngIf="txtCPassword.errors?.required && txtCPassword.touched">
                  <span class="text-danger">Confirm Password is required</span>
                </div>
                <div *ngIf="(!txtCPassword.value === txtNewPassword.value)">
                  <span class="text-danger">Passwords do not match.</span>
                </div>
                <div ng-if="!errorMsg == null">
                  <span class="text-danger">{{errorMsg}}</span>
                </div>
              </div>
            </form>
            <div id="divLinkExpired" style="display: none;">
              <div class="alert alert-danger">
                Link is expired <br>
                <a routerLink="/forgotpassword">Click here to reset password again</a>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- END WRAPPER -->
