<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Categories Data
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Category</li>
      <li class="active">Category Data</li>
    </ol>
  </section>

  <section class="content">
    <div class="box box-primary">
      <div class="box-body">
        <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border hover">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Shop Name</th>
              <th>Is Approved?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categoryData">
              <td class="text-center">
                <img width="50" height="50" src='{{env}}Assets/CategoryImages/{{category.CategoryImage}}'>
              </td>
              <td>{{ category.CategoryName }}</td>
              <td>{{ category.CategoryDesc }}</td>
              <td>{{ category.ShopName }}</td>
              <td *ngIf="category.IsApproved == 1">
                <button (click)="setApproved(category.CategoryID,false);">
                  <span style="color: green;" class="fa fa-2x fa-check"></span>
                </button>
              </td>
              <td *ngIf="category.IsApproved == 0">
                <button (click)="setApproved(category.CategoryID,true);">
                  <span style="color: red;" class="fa fa-2x fa-times"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
