<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Order Tracking
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Order</li>
      <li class="active">Order Tracking</li>
    </ol>
  </section>
  <section class="content">
    <ul class="timeline">
      <li>
        <i class="fa fa-envelope bg-teal"></i>
        <div class="timeline-item">
          <span class="time">
          </span>
          <div class="timeline-body">
            <i class="fa fa-clock-o"></i>Arrival Time: 12:05
            <br>
            <i class="fa fa-clock-o"></i>Departure Time: 12:05
            <br>
            <br>
            <p class="lead">... Content goes here</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
