<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Shops
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Shops</li>
    </ol>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-body">
        <table datatable class="row-border hover">
          <thead>
            <tr>
              <th></th>
              <th>Shop Name</th>
              <th>Shop Type</th>
              <th>Email</th>
              <th>Contact No</th>
              <th>Owner Name</th>
              <th>Is Active?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shop of shopsData">
              <td><a><span class="fa fa-2x fa-info-circle"></span></a></td>
              <td>{{ shop.ShopName }}</td>
              <td>{{ shop.ShopType }}</td>
              <td>{{ shop.Email }}</td>
              <td>{{ shop.PhoneNo }}</td>
              <td>{{ shop.OwnerName }}</td>
              <td *ngIf="shop.IsActive == 1"><a><span class="fa fa-2x fa-check"></span></a></td>
              <td *ngIf="shop.IsActive == 0"><a><span class="fa fa-2x fa-times"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </section>
</div>

