<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Website Information
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Website Info</li>
    </ol>
  </section>

  <section class="content">
    <div class="box box-primary">
      <form role="form" #frm1="ngForm">
        <table class="table" style="border: 0;">
          <tr>
            <td class="col-md-2">
              <div class="container" style=" width:36%;">
                <div style="display: flex; justify-content: center;">
                  <img id="profileImageIn" src="{{env}}Assets/WebsiteLogo/{{webInfo.Logo}}" style="height:130px; width:130px;" class="img-circle image">
                </div>
              </div>
            </td>
            <td class="col-md-5">
              <div>
                <div class="form-group">
                  <label for="txtlogo">Logo
                    <span class="text-danger">*</span>
                  </label>
                  <input type="file" id="imageWebInfo" (change)="upload($event)" name="imageWebInfo" required ngModel #imageWebInfo="ngModel">
                </div>
                <div class="form-group">
                  <label for="txtlogoalt">Logo Alternate</label>
                  <span class="text-danger">*</span>
                  <input type="text" class="form-control" id="txtlogoalt" placeholder="Logo Alternate" name="txtlogoalt" ngModel required #txtlogoalt="ngModel">
                </div>
                <div *ngIf=" imageWebInfo.touched || txtlogoalt.touched">
                  <div *ngIf="txtlogoalt.errors?.required && txtlogoalt.touched">
                    <span class="text-danger">Logo Alternate is required</span>
                  </div>
                </div>
                <div *ngIf="flag && imageWebInfo.touched">
                  <span class="text-danger">Select .png, .jpg and .jpeg only</span>
                </div>
                <div *ngIf="imageWebInfo.errors?.required && imageWebInfo.touched">
                  <span class="text-danger">Logo is required</span>
                </div>
              </div>
            </td>
            <td class="col-md-5" style="padding-top: 7.5%;">
              <div>
                <button class="btn btn-primary" (click)="AddWebInfoDetails(txtlogoalt.value);" [disabled]="frm1.invalid || flag">Edit Logo</button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>


    <div class="box box-primary">
      <form role="form" #frm="ngForm">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6">
              <input type="hidden" [(ngModel)]="webInfo.Id" id="txtId" name="txtId" #txtId="ngModel">
              <div class="form-group">
                <label for="txtWebsiteName">Website Name
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.Name" id="txtWebsiteName" name="txtWebsiteName" #txtWebsiteName="ngModel"
                  placeholder="Website Name" required pattern="[a-zA-Z0-9 ]*">
              </div>
              <div class="form-group">
                <label for="txttagline">Tag Line</label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.TagLine" id="txtTagLine" name="txtTagLine" #txtTagLine="ngModel"
                  placeholder="Tag Line">
              </div>
              <div class="form-group">
                <label for="txtgstno">GST No
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.GSTNo" id="txtGSTNo" name="txtGSTNo" #txtGSTNo="ngModel" placeholder="GST No"
                  required pattern="[a-zA-Z0-9]{15}">
              </div>
              <div class="form-group">
                <label for="txtcontact">Contact Number
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.PhoneNo" id="txtContact" name="txtContact" #txtContact="ngModel"
                  placeholder="Contact Number" required pattern="[0-9]{10}">
              </div>
              <div class="form-group">
                <label for="txtaboutus">About Us
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" [(ngModel)]="webInfo.AboutUs" id="txtAboutUs" name="txtAboutUs" #txtAboutUs="ngModel" rows="2"
                  placeholder="About Us" required></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="txtfacebooklink">FaceBook Link</label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.FacebookLink" id="txtFacebookLink" name="txtFacebookLink" #txtFacebookLink="ngModel"
                  placeholder="FaceBook Link">
              </div>
              <div class="form-group">
                <label for="txtinstagramlink">Instagram Link</label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.InstagramLink" id="txtInstagramLink" name="txtInstagramLink"
                  #txtInstagramLink="ngModel" placeholder="Instagram Link">
              </div>
              <div class="form-group">
                <label for="txttwitterlink">Twitter Link</label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.TwitterLink" id="txtTwitterLink" name="txtTwitterLink" #txtTwitterLink="ngModel"
                  placeholder="Twitter Link">
              </div>
              <div class="form-group">
                <label for="txtyoutubelink">YouTube Link</label>
                <input type="text" class="form-control" [(ngModel)]="webInfo.YoutubeLink" id="txtYoutubeLink" name="txtYoutubeLink" #txtYoutubeLink="ngModel"
                  placeholder="YouTube Link">
              </div>
              <div class="form-group">
                <label for="txtcontactus">Contact Us
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" [(ngModel)]="webInfo.ContactUs" id="txtContactUs" name="txtContactUs" #txtContactUs="ngModel"
                  rows="2" placeholder="Contact Us" required></textarea>
              </div>
              <div *ngIf="txtContact.touched || txtAboutUs.touched || txtGSTNo.touched || txtWebsiteName.touched || txtContactUs.touched">
                <div *ngIf="txtWebsiteName.errors?.required && txtWebsiteName.touched">
                  <span class="text-danger">Website is required</span>
                </div>
                <div *ngIf="txtWebsiteName.errors?.pattern && txtWebsiteName.touched">
                  <span class="text-danger">Website is Invalid</span>
                </div>
                <div *ngIf="txtGSTNo.errors?.required && txtGSTNo.touched">
                  <span class="text-danger">GST No is required</span>
                </div>
                <div *ngIf="txtGSTNo.errors?.pattern && txtGSTNo.touched">
                  <span class="text-danger">GST No is Invalid</span>
                </div>
                <div *ngIf="txtAboutUs.errors?.required && txtAboutUs.touched">
                  <span class="text-danger">About Us is required</span>
                </div>
                <div *ngIf="txtContact.errors?.required && txtContact.touched">
                  <span class="text-danger">Contact is required</span>
                </div>
                <div *ngIf="txtContact.errors?.pattern && txtContact.touched">
                  <span class="text-danger">Contact is Invalid</span>
                </div>
                <div *ngIf="txtContactUs.errors?.required && txtContactUs.touched">
                  <span class="text-danger">Contact Us is required</span>
                </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="reset" class="btn btn-primary">Cancle</button>&nbsp;
          <button type="submit" class="btn btn-primary" [disabled]="frm.invalid" (click)="updateWebInfo(txtWebsiteName.value,txtContact.value,txtGSTNo.value,txtTagLine.value,txtAboutUs.value,txtContactUs.value,txtFacebookLink.value,txtTwitterLink.value,txtInstagramLink.value,txtYoutubeLink.value,txtId.value);">Submit</button>
        </div>
      </form>
    </div>
  </section>

</div>
