body {
  background-color: #F3F5F8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d; }

  .auth-box{
  width: 35%;
  height: 300px;
}

.left{
  width: 100%;
}

#alertDiv {
  display: block;
}
