<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Shop Detail
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Shops</li>
      <li class="active">Shop Detail</li>
    </ol>
  </section>

  <section class="content">
      <div class="box box-primary">
        <div class="box-body ">
          <table class="table" style="border: 0;">
            <div class="col-md-6">
                <div class="container" style=" width:36%; display: flex; justify-content: center;">
                    <img id="profileImageIn" src="../../assets/img/avatar.png" style="height:130px; width:130px;" class="img-circle image">
                </div>
            <table>
              <tr>
                  <th class="col-md-10">Address:</th>
                  <td>Surat</td>
              </tr>
              <tr>
                  <th class="col-md-10">City:</th>
                  <td>Surat</td>
              </tr>
              <tr>
                  <th class="col-md-10">State:</th>
                  <td>Gujarat</td>
              </tr>
              <tr>
                <th class="col-md-10">Active:</th>
                <td>Yes</td>
               </tr>
              <tr>
                <th class="col-md-10">Approved:</th>
                <td>Yes</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
              <table>
                <th><h2>Amazon</h2></th>
                <tr>
                  <td><h5>Apani Dukan</h5></td>
                </tr>
                <tr>
                    <td><h5>All type</h5></td>
                  </tr>
                <hr>
                   <h4>Communication detail</h4>
                <hr>
                <tr>
                    <th>Phone no:</th>
                    <td>1234567890</td>
                </tr>
                <tr>
                    <th>Website:</th>
                    <td>www.google.com</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>amazon@gmail.com</td>
                </tr>
                <hr>
                   <h4>Social detail</h4>
                <hr>
                <tr>
                    <th>Facebook link:</th>
                    <td>www.facebook.com</td>
                </tr>
                <tr>
                    <th>Twitter Link:</th>
                    <td>www.twitter.com</td>
                </tr>
                <tr>
                    <th>Instagram link:</th>
                    <td>www.instagram.com</td>
                </tr>
                <tr>
                    <th>Youtube link:</th>
                    <td>www.youtube.com</td>
                </tr>
                <hr>
                  <h4>Others</h4>
                <hr>
                <tr>
                    <th>Username:</th>
                    <td>miamazon</td>
                </tr>
                <tr>
                    <th>GST no:</th>
                    <td>123456jhkjhj7890</td>
                </tr>
              </table>
            </div>

           <!-- <table class="col-md-6" style="border: 1;">
              <tr>
                <th>Shop Name:</th>
                <td>Amazon</td>
              </tr>
              <tr>
                  <th>Owner Name:</th>
                  <td>John Doe</td>
              </tr>
              <tr>
                  <th>Address:</th>
                  <td>Surat</td>
              </tr>
              <tr>
                  <th>Phone no:</th>
                  <td>1234567890</td>
              </tr>
              <tr>
                  <th>Website:</th>
                  <td>www.google.com</td>
              </tr>
              <tr>
                  <th>Username:</th>
                  <td>miamazon</td>
              </tr>
              <tr>
                  <th>Shop Type:</th>
                  <td>all type</td>
              </tr>
              <tr>
                  <th>Facebook link:</th>
                  <td>www.facebook.com</td>
              </tr>
              <tr>
                  <th>Twitter Link:</th>
                  <td>www.twitter.com</td>
              </tr>
            </table>
            <table class="col-md-6" style="border:2;">
                <tr>
                  <th>Tag Line:</th>
                  <td>Amazon Tag line</td>
                </tr>
                <tr>
                    <th>GST no:</th>
                    <td>123456jhkjhj7890</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>Surat</td>
                </tr>
                <tr>
                    <th>State:</th>
                    <td>Gujarat</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>amazon@gmail.com</td>
                </tr>
                <tr>
                    <th>Active:</th>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th>Approved:</th>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th>Instagram link:</th>
                    <td>www.instagram.com</td>
                </tr>
                <tr>
                    <th>Youtube link:</th>
                    <td>www.youtube.com</td>
                </tr>
              </table>-->
          </table>
        </div>
    </div>
  </section>
