<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Product Data
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Category</li>
      <li class="active">Category Data</li>
    </ol>
  </section>

  <section class="content">
      <div class="box box-primary">
        <div class="box-body">
          <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>Category Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Is Active?</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </section>
</div>
