<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">

  <!-- add product detail -->

  <section class="content-header">
    <h1>
      Add Product
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="active">Product</li>
      <li class="active">Add Product</li>
      <li class="active">Add Product Details</li>
    </ol>
  </section>

  <section class="content">
    <div class="col-md-offset-1 col-md-8">
      <div class="box box-primary">
        <form role="form" #frm="ngForm">
          <div class="box-body">
            <h1 class="col-md-offset-1 col-md-10" style="margin: 2px; padding: 5px;">{{productSingleData.ProductName}}
              <small>({{productSingleData.CategoryName}})</small>
            </h1>
            <h3 class="col-md-offset-1 col-md-10" style="margin: 2px; padding: 5px;">Description:
              <small>{{productSingleData.ProductDesc}}</small>
            </h3>
            <div class="row"><br></div>
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <div class="form-group" *ngFor="let property of categoryProperties">
                  <label for="txtProName">{{property['PropertyName']}}</label>
                  <span class="text-danger">*</span>
                  <input type="text" class="form-control" [(ngModel)]="property.Value" id="txt{{property['CategoryPropertyId']}}" name="txt{{property['CategoryPropertyId']}}"
                    placeholder="Enter {{property['PropertyName']}}" pattern="[a-zA-Z]+" required />
                </div>
                <button type="submit" class="btn btn-primary" (click)="AddProValues(frm.value);">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

</div>
